/* NAVBAR */
.logo-inicio {
    max-width: 10vh;
}

.navbar {
    background-color: #0344947d;
    backdrop-filter: blur(8px);
    padding: 1px;
    min-height: 10vh;

    .container-fluid {
        padding-left: 0;
    }

    &-toggler {
        background: #EA1D24;
        border: none;
        padding: 10px 6px;
        outline: none;

        span {
            display: block;
            width: 22px;
            height: 2px;
            border: 1px;
            background: $color-white;
        }

        span+span {
            margin-top: 4px;
            width: 18px;
            margin-left: 4px;
        }

        span+span+span {
            width: 10px;
            margin-left: 12px;
        }
    }

    &-expand-md {

        .navbar-collapse {
            flex-direction: row-reverse;
        }

        .navbar-nav {
            .nav-link {
                padding: 1rem 1.2rem;
                font-size: 1.25rem;
                position: relative;
                color: $color-white;

                &:hover {
                    border-top: 4px solid #fbca04b6;
                    background-color: rgba(161, 197, 241, 0.496);
                    transition: .2s ease-in-out;
                }
            }

            button {
                padding: 1.2rem 5rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {

    /* CSS Global */
    .navbar {
        min-height: 10vh;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: .8rem 1.2rem;
    }

    .logo-inicio {
        max-width: 10vh;
    }
}