@mixin img-cover-wh-100 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@mixin all-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@mixin borde-amarillo {
    width: 120px;
    height: 10px;
    background-color: #FBCA04;
}