/* Index */
.seccion-principal {
    margin-top: 10vh;
    background-image: url(../../imgs/puerta-local.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-imagen-inicio {
    text-align: center;
    font-size: 1.7rem;
    background: linear-gradient(to right, #034494ae, #EA1D24ae);
    border: 2px solid #FBCA04;
    color: $color-white;
    border-radius: 20px;
    line-height: 50px;
    padding: 3vh;
}

/* Seccion inicio */
#cont-index-principal {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='1560' preserveAspectRatio='none' viewBox='0 0 1440 1560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='1440' height='1560' x='0' y='0' fill='rgba(161%2c 197%2c 241%2c 0.7)'%3e%3c/rect%3e%3cpath d='M0%2c450.082C88.755%2c453.717%2c175.558%2c436.095%2c255.873%2c398.147C344.776%2c356.142%2c463.034%2c317.194%2c484.391%2c221.214C506.648%2c121.19%2c384.038%2c47.354%2c355.853%2c-51.164C333.212%2c-130.303%2c379.38%2c-221.569%2c337.452%2c-292.404C293.443%2c-366.755%2c209.961%2c-408.609%2c128.036%2c-436.051C44.021%2c-464.193%2c-45.246%2c-467.509%2c-132.033%2c-449.662C-224.27%2c-430.694%2c-323.74%2c-404.998%2c-382.147%2c-331.133C-439.947%2c-258.036%2c-427.686%2c-155.584%2c-437.815%2c-62.948C-447.58%2c26.359%2c-476.709%2c118.948%2c-440.345%2c201.099C-403.847%2c283.552%2c-321.242%2c333.346%2c-242.75%2c377.727C-167.732%2c420.144%2c-86.108%2c446.556%2c0%2c450.082' fill='rgba(123%2c 173%2c 235%2c 0.7)'%3e%3c/path%3e%3cpath d='M1440 2136.732C1546.523 2140.721 1596.987 2001.4180000000001 1685.683 1942.29 1772.261 1884.575 1888.061 1875.434 1953.42 1794.471 2026.924 1703.417 2097.0789999999997 1582.949 2067.073 1469.841 2036.9070000000002 1356.13 1886.054 1329.112 1806.883 1242.094 1730.532 1158.176 1713.748 1022.966 1613.011 970.777 1507.561 916.146 1368.391 904.102 1264.084 960.885 1161.575 1016.689 1159.032 1162.503 1089.13 1255.969 1026.355 1339.906 911.153 1380.04 876.597 1478.995 839.591 1584.965 829.508 1718.071 896.241 1808.326 963.119 1898.778 1109.5720000000001 1866.167 1205.864 1924.3229999999999 1297.931 1979.9270000000001 1332.52 2132.707 1440 2136.732' fill='rgba(200%2c 221%2c 247%2c 0.7)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='1440' height='1560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    margin-bottom: 5vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Grid seccion info principal */
.artIndex {
    display: grid;
    padding: 5vh;
    min-height: 100vh;
    grid-template-areas:
        "info1 img1"
        "img2 info2";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;

    div {
        padding: .7rem;
    }

    #index-info-1 {
        grid-area: info1;
    }

    #index-info-2 {
        grid-area: info2;
    }

    #index-div-img-1 {
        grid-area: img1;
    }

    #index-div-img-2 {
        grid-area: img2;
    }

    .div-parrafos,
    .div-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .div-parrafos {

        p {
            font-size: 1.2rem;
            margin-bottom: 3vh;
        }
    }

    .div-imgs {
        width: 100%;
        height: 100%;

        &:hover img {
            transform: scale(1.03);
            box-shadow: $box-shadow-imgs;
        }

        img {
            transition: transform 0.3s;
            box-shadow: 0 0 10px black;
        }
    }
}

/* Iframe */
.google-maps {
    box-shadow: $box-shadow-imgs;

    iframe {
        width: 100%;
    }
}




/* Falta actualizar */




/* TABLET */
@media screen and (max-width: 991px) {

    /* index */
    .index-seccion-2 {
        padding: 5vh 0;
    }

    .index-parrafos-top {
        margin: 0 3vh 2vh 3vh;
    }

    .index-parrafos {
        margin: 0 3vh 2vh 3vh;
    }
}

/* 696px */
@media screen and (max-width: 760px) {

    /* Articulo 1 */
    .index-articulo-1 {
        flex-flow: column wrap;

        .div-parrafos {
            width: 100%;
        }

        .index-div-img-1 {
            width: 100%;
            margin: 0;
            padding: 2vh;
        }
    }

    /* Articulo 2 */
    .index-articulo-2 {
        flex-flow: column-reverse wrap;
        padding-top: 2vh;

        .div-parrafos {
            width: 100%;
        }

        .index-div-img-2 {
            width: 100%;
            margin: 0;
            padding: 2vh;
        }
    }
}

/* MÓVIL */
@media screen and (max-width: 576px) {

    /* index */
    .index-seccion-2 {
        padding: 2vh 0;
    }

    .index-parrafos-top {
        font-size: 1rem;
        margin: 0 2vh 2vh 2vh;
    }

    .index-parrafos {
        font-size: 1rem;
        margin: 0 2vh 2vh 2vh;
    }
}