/* *Servicios */

#seccion-servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    #title-servicios {
        margin-top: 5vh;
        font-size: 6vh;
        font-family: 'Josefin Sans', sans-serif;
    }

    #borde-amarillo {
        @include borde-amarillo
    }
}

.card-group {
    margin-top: 6vh;
    gap: 2vh;
    height: 70%;
    .card {

        .card-img {
            height: 32vh;
            object-fit: cover;
        }
        .card-title {
            font-family: 'Josefin Sans', sans-serif;
            color: #034494;
            font-weight: bold;
            padding: 2vh 0;
        }
    }
}

@media screen and (max-width: 768px) {

    /* SERVICIO */
    .card {
        margin: 1vh 3vh;
        &-group {
            margin: 3vh 0;
        }
    }
}